build/*
.eggs/*
snowex_db.egg-info/*
dist/*
*.db
**/__pycache__/**
*.cpg
*.dbf
*.prj
*.shp
*.shx

docs/modules.rst
docs/snowex_db.rst
docs/_build/*

**/.ipynb_checkpoints/*

.coverage
coverage.xml
htmlcov/*
scripts/upload/test*.txt
.idea/*
scripts/download/data/*
