build/*
.eggs/*
snowex_db.egg-info/*
dist/*
*.db
**/__pycache__/**
*.cpg
*.dbf
*.prj
*.shp
*.shx

# Versioning
snowex_db/_version.py

# Test files
snowex_cog_storage/

.coverage
coverage.xml
htmlcov/*

docs/modules.rst
docs/snowex_db.rst
docs/_build/*
docs/api/*

scripts/upload/test*.txt
scripts/upload/credentials.json

scripts/download/data/*
venv/

# IDE files
.idea/*
.vscode/*
**/.ipynb_checkpoints/*
