name: PyTest and Coverage

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Only run once per branch, cancels current runs on new push
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    services:

      postgis:
        image: kartoza/postgis:14-3.2
        env:
          POSTGRES_PASSWORD: db_builder
          POSTGRES_USER: builder
          POSTGRES_DB: test
          TZ: 'UTC'
          PGTZ: 'UTC'
          POSTGIS_GDAL_ENABLED_DRIVERS: 'ENABLE_ALL'
          POSTGIS_ENABLE_OUTDB_RASTERS: 'True'
        ports:
          - 5432:5432
        volumes:
          - /home/runner/work/:/home/runner/work/

    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y postgis gdal-bin
          python -m pip install --upgrade pip
          pip install pytest coverage wheel
          python3 -m pip install -e ".[dev]"

      - name: Test with pytest
        run: |
          pytest -s tests/
      
      # Run coverage only once
      - if: ${{ matrix.python-version == '3.10'}}
        name: Get Coverage for badge
        run: |
          # Run coverage save the results
          coverage run --source snowex_db -m pytest tests
          SUMMARY=`coverage report -m | grep TOTAL`

          # Save results as ENV var
          COVERAGE=$(python -c "print('$SUMMARY'.split(' ')[-1])")
          echo "COVERAGE=$COVERAGE" >> $GITHUB_ENV

          # var REF = 'refs/pull/27/merge.json';
          REF=${{ github.ref }}
          # console.log('github.ref: ' + REF);
          echo "github.ref: $REF"
          # var PATHS = REF.split('/');
          IFS='/' read -ra PATHS <<< "$REF"
          # var BRANCH_NAME = PATHS[1] + PATHS[2];
          BRANCH_NAME="${PATHS[1]}_${PATHS[2]}"
          # console.log(BRANCH_NAME); // 'pull_27'
          echo $BRANCH_NAME
          # process.env.BRANCH = 'pull_27';
          echo "BRANCH=$(echo ${BRANCH_NAME})" >> $GITHUB_ENV

      - if: ${{ matrix.python-version == '3.9'}}
        name: Create the Badge
        uses: schneegans/dynamic-badges-action@v1.0.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 2034019acc40a963bd02d2fcbb31c5a9
          filename: snowex_db_${{ env.BRANCH }}.json
          label: coverage
          message: ${{ env.COVERAGE }}
          color: green
